.about{
    display: flex;
    align-items:center;
    justify-content: space-betweengt;
    gap: 40px;
}
.about-me{
    margin: 0;
}
.about-me h2{
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    color: var(--letra-white);
}
.about-me span{
    color: var(--letra-titulo);
}
.about-me p{
    color: var(--letra-white);
}
.about-me button{
    padding: 6px 10px;
    border-radius: 30px;
}
.icon-dev{
    width: 450px;
    height: 450px;
}
