.about{
    width: calc(100% - 700px);
    margin-top: 5rem;
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: center;
    gap: 50px;
}
.about-me{
    width: auto;
}
.about-me h2{
    margin: 0;
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--letra-white);
}
.about-me span{
    color: var(--letra-titulo);
}
.about-me p{
    color: var(--letra-white);
    font-size: 1rem;
}   
.about-me button{
    padding: 7px 10px;
    border-radius: 30px;
    cursor: pointer;
    background-color: var(--letra-titulo);
    color: var(--letra-white);
    border: 1px solid var(--letra-black);
}
.about-me button:hover{
    background-color: var(--letra-white);
    color: var(--letra-black);
}
.icon-dev{
    width: 550px;
    height: 300px;
}