.about{
    width: 100%;
    margin: 5rem 0;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 6rem;
}
.about-me{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.about-me h2{
    margin: 0;
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--letra-white);
}
.about-me p{
    margin-top: 10px;
    color: var(--letra-white);
    font-size: 1rem;
} 
.about-me p span{
    color: var(--letra-titulo);
}
.about-me .about-links{
    margin-top: 18px;
    display: flex;
    gap: 15px;
}  
.about-me .about-links .icons-linkedin{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.about-me .about-links .icons-github{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.about-me .about-links .icons-codepen{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.logo{
    width: 35rem;
}
.logo .developer{
    width: 100%;
    height: auto;
}
.hob:hover{
    transform: scale(1.2);
}
@media (max-width:1300px){
    .logo{
        width: 25rem;
    }
}
@media (max-width:1120px){
    .about-me h2{
        font-size: 3.1rem;        
    }
    .about-me .about-links .icons-linkedin{
        width: 30px; 
    }
    .about-me .about-links .icons-github{
        width: 30px;
    }
    .about-me .about-links .icons-codepen{
        width: 30px;
    }
}
@media (max-width:900px){
    .about-me{
        margin-left: 6.5rem;
    }
    .logo{
        width: 5rem;
    }
    .logo .developer{
        display: none;
    }
}
@media (max-width:600px){
    .about-me{
        margin-left: 3rem;
    }
}