.project{
    width: 100%;
    height: auto;
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 5rem;
}
.project h1{
    color: var(--letra-white);
    font-size: 2.2rem;
    font-weight: 600;
}
.project p,.project h3,.project a{
    color: var(--letra-white);
    font-weight: 400;
}
.card-project{
    width: 70%;
    height: auto;
    margin-left: 7rem;
    display: flex;
    gap: 2rem;
}
.img-project{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;
}
.img-project:hover{
    scale: 1.1;
}
.img-project img{
    width: 100%;    
    border-radius: 20px;
    object-fit: contain;
}
.content-project{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.description-content p{
    font-size: 1.15rem;    
}
.lenguaje-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lenguaje-part1{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.lenguaje-part2 a
{
    padding: 10px 8px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1.1rem;
}
.lenguaje-part2 a:hover
{
    background-color: var(--letra-titulo);
    border-color: var(--letra-titulo);
}
.project-buttom{
    padding: 10px 8px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: var(--letra-white);
    font-size: 1.1rem;
    cursor: pointer;
}
.project-buttom:hover{
    background-color: var(--letra-titulo);
    border-color: var(--letra-titulo);
}
@media (max-width: 1200px){
    .card-project{  
        margin: 0;                         
    }
    .img-project{
        width: 100%;
    }
}
@media (max-width: 800px){
    .project{
        margin-top: 10rem;
    }
    .project h1{
        margin: 0;
    }
    .card-project{   
        width: 80%;  
        flex-wrap: wrap;    
    }
    .img-project{
        width: 100%;
    }
    .content-project{
        width: auto;
        gap: 1.5rem;
    }
}