.skills{
    width: 100%;
    padding-top: 15rem;  
}
.skills .slider-track{  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.skills .slider {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(5, 1fr);
}
.skills .slider:nth-child(2){
  grid-template-columns: repeat(4, 1fr);
}
.skills .slider:nth-child(3){
  grid-template-columns: repeat(3, 1fr);
}
.movil-slider .movil-slide, 
.skills .slider .slide{
  width: 120px;
  padding: 15px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
  transition: all 0.3s ease;
}
.skills .movil-slider .movil-slide:hover,
.skills .slider  .slide:hover{
  scale: 1.1;
}
.movil-slider .movil-slide p,
.skills .slider  .slide p{
  color: var(--letra-white);
}
.movil-slider .movil-slide img,
.slider .slide img {
  width: 50px;
}
.movil-slider-track{
  display: none;
}
@media (max-width:1100px){
  .skills .slider-track{
    margin: 0;
  }
}
@media (max-width:800px){
  .skills .slider-track{
    display: none;
  }
  .skills .movil-slider-track{
    display: flex;
    flex-direction: column;
  }
  .skills .movil-slider{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
}

