.skills-slider{
    width: 75vw;
    display: flex;
    overflow: hidden;
}
.skills-slider .slider{
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scroll 40s linear infinite;
  width: calc(100px * 18 );
}
.skills-slider .slider-img{
  width: 100px;
}
.ico{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-900px ));
  }
}
